// Import Core Clean Blog SCSS
.dark-theme {
  color: #cccccc;
}

p {
  color: #cccccc;

}

h1,
h2,
h3,
h4,
h5,
h6{
  text-align: center;
}

.html{
  background: #03080e !important;
  margin: 0;
  color: #cccccc;
  font-family: 'Oswald';

}

.dark-theme-body {
  background: #03080e !important;
  color: #cccccc;
  font-family: 'Oswald';
}

.dark-theme-p {
  padding-left: 20%;
  padding-right: 20%;
}
.parallax-container {
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 850px;
  margin:0 auto;
  left: 0;
}
.parallax-layer {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px;
}
.layer-0 {
  top: 0;
  z-index: 5;
  background: #03080e url('https://i.imgur.com/7LbfS4C.png') no-repeat top 10px center;
  /* <!--background-size: 120px 138.5px;*/
  background-size: auto;
}
.layer-1 {
  top: -100px;
  z-index: 5;
  background-image: url('https://i.imgur.com/CFNkhWC.png');
}
.layer-2 {
  top: -50px;
  z-index: 10;
  background: url('https://i.imgur.com/BQQtGpZ.png') no-repeat top 200px center;
  //background-image: url('https://i.imgur.com/BQQtGpZ.png');
}
.layer-3 {
  top: -10px;
  z-index: 15;
  background-image: url('https://i.imgur.com/ALy6tfp.png');
}
.layer-4 {
  top: 65px;
  z-index: 20;
  background-image: url('https://i.imgur.com/uXABMwx.png');
}
.layer-5 {
  top: 150px;
  z-index: 25;
  background-image: url('https://i.imgur.com/UyeZ0ZS.png');
}


.content {
  position: absolute;
  top: 640px;
  background: #03080e;
  width: 100%;
  min-height: 1200px;
  margin: 0;
  overflow-x: hidden;
}
.content h1 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  overflow-x: hidden;
}

.first-body{
  padding-top: 20%;
  margin:0 auto;
  left: 0;
}

.footer {
  position: fixed;
  width:100%;
  bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #b3b3b3;
  background-color: #1a1a1a;
  text-align: center;
  overflow-x: hidden;
}

.header{
  position: fixed;
  width:100%;
  top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #b3b3b3;
  background-color: #1a1a1a;
  text-align: center;
  z-index: 3;
}

.footer-padding{
  padding-top: 5%;
}