// Import Core Clean Blog SCSS
$dark-theme4: #333333 !default;
$dark-theme3: #262626 !default;
$dark-theme2: #1a1a1a !default;
$dark-theme1: #0d0d0d !default;

$dark-blue-theme1: #03080e !default;
$white-text: #cccccc !default;

.dark-theme {
  color: $white-text;
  overflow-x: hidden !important;
}

p {
  color: #cccccc;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  text-align: center;
  overflow-x: hidden !important;
}

.html{
  background: $dark-theme2 !important;
  margin: 0;
  color: $white-text;
  font-family: 'Oswald';
  overflow-x: hidden !important;

}

.dark-theme-body {
  background: $dark-theme2 !important;
  color: $white-text;
  font-family: 'Oswald';
  overflow-x: hidden !important;
}

.dark-theme-p {
  padding-left: 20%;
  padding-right: 20%;
  overflow-x: hidden !important;
}
.parallax-container {
  position: fixed;
  overflow-x: hidden !important;
  width: 100%;
  height: 850px;
  margin:0 auto;
  left: 0;

}
.parallax-layer {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px;
  overflow-x: hidden !important;
}
.layer-0 {
  top: 0;
  z-index: 5;
  background: $dark-theme2 url('http://res.cloudinary.com/fullmight/image/upload/v1510014552/StarFieldProg6_qkwmkl.png') no-repeat top 10px center;
  /* <!--background-size: 120px 138.5px;*/
  background-size: auto;
}
.layer-1 {
  top: -100px;
  z-index: 5;
  background-image: url('http://res.cloudinary.com/fullmight/image/upload/v1510014550/mountains2_vdtf0g.png');
}
.layer-2 {
  top: -10px;
  z-index: 10;
  background: url('http://res.cloudinary.com/fullmight/image/upload/v1509822437/BigHill1_rara7o.png') no-repeat top 200px center;
  //background-image: url('https://i.imgur.com/BQQtGpZ.png');
}
.layer-3 {
  top: -10px;
  z-index: 15;
  background-image: url('http://res.cloudinary.com/fullmight/image/upload/v1510015104/smallhills2_noa4mx.png');
}
.layer-4 {
  top: 70px;
  z-index: 20;
  background-image: url('http://res.cloudinary.com/fullmight/image/upload/v1509822437/frontGrass_i4wmy6.png');
}
.layer-5 {
  top: 140px;
  z-index: 25;
  background-image: url('http://res.cloudinary.com/fullmight/image/upload/v1510014890/backGrass2_prnivx.png');
}


.logo-image{
  border-radius: 50%;
  width: 150px;
  display: block;
  margin: 0 auto;
  border-color: $dark-theme4;
  border-width: 8px;
  border-style: solid;
}

.content {
  position: absolute;
  top: 640px;
  background: $dark-theme2;
  width: 100%;
  min-height: 1600px;
  margin: 0;
  overflow-x: hidden !important;
}
.content h1 {
  color: $white-text;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  overflow-x: hidden !important;
}

.first-body{
  padding-top: 20%;
  margin:0 auto;
  left: 0;
  overflow-x: hidden !important;
}

.footer {
  position: fixed;
  width:100%;
  bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  color: $white-text;
  background-color: #1a1a1a;
  text-align: center;
  overflow-x: hidden !important;
}

.header{
  position: fixed;
  width:100%;
  top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  color: $white-text;
  background-color: #1a1a1a;
  text-align: center;
  z-index: 3;
  overflow-x: hidden !important;
}

.footer-padding{
  padding-top: 5%;
  overflow-x: hidden !important;
}

.front-fix{
  overflow-x: hidden !important;
}

.gen-align{
  margin: 0 auto;
  text-align: center;
  display: block;
  padding-bottom: 5px;
}

.little-extra-on-top {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden !important;
}
.lot-extra-on-top {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden !important;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

