// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

html{
  background: #222831; //$dark-theme3 !important;//#080d13 !important;
}


.dark-theme {
  color: #e6e6e6;
}

body {
  background: #222831; //$dark-theme3;//#03080e //#050a10; //03080e
}

