---
---
<!DOCTYPE html>
<script src="./assets/parallax.js"></script>
<link rel="stylesheet" href="{{"/assets/landing.css" | relative_url }}">


<head class="dark-theme-body dark-theme">

</html class="dark-theme-body dark-theme">



<div class="header"> <div><a href="{{ site.baseurl }}{% link blog.html %}">Continue to blog</a></a></div>
    <div></div></div>
<meta charset="utf-8">
<title>Portfolio</title>

<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./assets/landing.css">
</head>
<body>

<div class="parallax-container dark-theme dark-theme-body">
    <div class="parallax-layer layer-0" data-parallax-speed="0.05" data-max-scroll="565"></div>
    <div class="parallax-layer layer-1" data-parallax-speed="0.1" data-max-scroll="565"></div>
    <div class="parallax-layer layer-2" data-parallax-speed="0.3" data-max-scroll="565"></div>
    <div class="parallax-layer layer-3" data-parallax-speed="0.5" data-max-scroll="565"></div>
    <div class="parallax-layer layer-4" data-parallax-speed="0.7" data-max-scroll="565"></div>
    <div class="parallax-layer layer-5" data-parallax-speed="0.9" data-max-scroll="565"></div>
</div>

<div class="content first-body">
    <h1>About me</h1>
    <img>
    <h3 class="dark-theme-p dark-theme">Cameron A. Pickerill-Trinitapoli</h3>
    <p class="dark-theme-p">I'm a programmer primarily with experience working in C# and the Unity3D game engine.
    As well as some prior familiarity with C++ and Java. I'm currently honing my web development skills with ruby on rails,
    as well as HTML, CSS, and Javascript with the resources available through Free Code Camp as well as through my own projects.</p>
</div>


<script src="./assets/parallax.js"></script>
<link rel="stylesheet" href="{{"/assets/landing.css" | relative_url }}">

</body>

<div class="footer"> <div><a href="{{ site.baseurl }}{% link about.html %}">About Me</a></a></div>
    <div></div></div>

</html>